body{
  margin:0;
  padding:0;
  font-family: sans-serif;
  background: #f0eeee;
}
p{
  margin:0;
}
.page{
  margin-left: 200px;
  padding:30px;
}
.font14{
  font-size: 14px;
}
.marginBottom{
  margin-bottom: 25px;
}
.borderBottom{
  border-bottom: 1px solid #c1c1c1;
}
.flexSpaceBetween{
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.logoMain{
  width:40%;
}
.logo{
  margin:0 50px;
}
.topBarMain{
  width:100%;
  height: 50px;
  background: blue;
  color:white;
  line-height: 50px;
  position: sticky;
  top:0;
  z-index: 2;
}
.topNavItems{
  width:60%;
  margin:0 50px;
}
.sideBarMain{
  width: 200px;
  height: calc(100vh - 50px);
  background: white;
  position: fixed;
}
.sideNavItems{
  display: grid;
  padding:20px 0;
}
.activePage{
  height: 50px;
  border-bottom: 1px solid #c1c1c1;
  padding: 10px;
}
.sideNavItem{
  border: none;
  color:gray;
  font-size: 16px;
  font-weight: 500;
  margin-bottom: 20px;
  text-decoration: none;
}
.active{
  color:blue;
  font-weight: bold;
  border-left: 3px solid blue;
  height: 80%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.centerAlign{
  text-align: center;
}
.heading{
  font-size: 20px;
  font-weight: bold;
  margin-bottom: 10px;
}
.box{
  /* width:100%; */
  height: 350px;
  border-radius: 10px;
  background: white;
  padding: 20px;
}
.box2{
  width:100%;
  height: 100%;
  border-radius: 10px;
  background: white;
  padding: 10px;
}
.flex{
  display: flex;
  align-items: center;
}
.icon{
  width:40px;
  height: 40px;
  border-radius: 50%;
  margin-right: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
}
.weekInfo{
  font-size: 14px;
  color:#c1c1c1;
  margin-bottom: 10px;
}
.slider{
  width:70%;
  height: 3px;
  background: blue;
}
.hrsBox{
  width:20%;
  height: 100%;
  padding:5px;
  background: blue;
  border-radius: 30px;
  color: white;
  font-size: 10px;
  text-align: center;
}
.avgText{
  font-size: 12px;
  color: #c1c1c1;
}
.avgTextInfo{
  font-size: 14px;
  font-weight: bold;
}
.emoji{
  width: 60px;
  height: 60px;
  border-radius: 50%;
  background: yellow;
  margin:0 auto;
}
.pieChart{
  height: 150px;
  display: flex;
  align-items: center;
  margin-bottom: 20px;
}
.skillBox{
  width:20px;
  height: 20px;
  border-radius: 5px;
  margin-right: 10px;
}
.skill{
  font-size: 14px;
}
.designation{
  font-size: 12px;
  color:#c1c1c1;
}
.profileImg{
  width:70px;
  height: 70px;
  border-radius: 50%;
  margin:10px auto;
  background: #f1f1f1;
}
.empName{
  font-size: 14px;
  font-weight: bold;
}
.coachIcon{
  width:30px;
  height: 30px;
  background: blue;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  color:white;
  margin-right: 20px;
}
.coachInfo{
  font-size: 14px;
  margin-top: 5px;
  font-weight: 500;
}
.job{
  font-size: 14px;
  font-weight: 500;
  margin:20px 0;
}
.salaryPer{
  font-size: 40px;
  font-weight: bold;
}
.userImg{
  width:30px;
  height: 30px;
  border-radius: 50%;
  background: #f1f1f1;
  margin-right: 10px;
}
.resourcesBox{
  width:100%;
  padding: 10px;
  background: white;
  margin-bottom: 10px;
  border-radius: 10px;
}
.cepStructureName,.count{
  font-size: 12px;
}
.count{
  font-weight: bold;
}
.achivement{
  font-weight: bold;
  font-size: 15px;
}
.CEPButton{
  background: blue;
  border-radius: 10px;
  color:white;
  text-transform: uppercase;
  text-align: center;
  border:none;
  outline: none;
  width: 100%;
  padding: 10px;
}
.graph{
  width:30px;
  height: 100%;
  position: relative;
}